# Fichiers sensibles
.env
.env.*
!.env.example

# Dépendances
/vendor
/node_modules

# Cache et logs
/storage/*.log
/storage/app/public/*
/storage/framework/*
/storage/logs/*
!storage/.gitkeep
/bootstrap/cache/*
/public/hot
public/storage
public/css
public/js
public/mix-manifest.json

# IDE et systèmes
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-*

# Tests et rapports
coverage
.phpunit.result.cache
phpunit.xml

# Autres
*.sqlite
*.sqlite-journal